.App {
  text-align: center;
}
.Header {
  color: white;
  background: #1CA7EC;
  width: 500px;
  height: 200px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
}

.Date {
  border: 3px solid black;
  padding: 1px 0;
  width: 350px;
  height: 250px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  position: relative;
  top: -108px;
  background: white;
}

.todo {
  border: 1px solid white;
  width: 50%;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  margin-top: 1px;
  margin-bottom: 19px;
  border-radius: 25px;
  top: 25%;
  padding-top: 5px;
  box-shadow: 0 0 10px gray;
}
.tasks {
  position: relative;
  text-align: center;
  top: 19%;
  right: 42%;
}
.delete {
  position: relative;
  bottom: 10px;
  left: 45%;
}
.input {
  position: relative;
  bottom: 65px;
}
.form {
  padding: 20px;
}
.inputt {
  padding: 20px;
  position: relative;
  bottom: 54px;
  left: 30px;
}
.today {
  position: relative;
  top: 38px;
  right: 35%;
  font-size: 35px;
}
.monthh {
  position: relative;
  bottom: 81px;
  right: 20%;
  margin-top: 1px;

}
.month {
  position: relative;
  bottom: 96px;
  right: 20%;
  margin-top: 1px;
}
@media screen and (max-width: 414px) {
  .Header {
    width: 80%;
  }
}
@media screen and (max-width: 414px) {
  .todo {
    width: 80%;
  }
}
